// * {
//	margin: 0;
//	padding: 0;
//	box-sizing: border-box;
//}//
html, body {
    // height: 100%;
}

body {
    background: white;
    // background: radial-gradient(rgba(54, 17, 69, 1), rgba(48, 20, 59, 1));;
    // font-family: 'Roboto Mono', Arial, sans-serif;
}

// vexflow stuff

.clefsandsig {
  background: blue;
  background-color: blue;
 }

.vexcontainer {
  background: beige;
  overflow: hidden;
  // border: 5px solid deeppink;
}

.vexsvg {
        position: absolute;
}

/* transparent cursor */

.cursor {
	opacity: 0.5;
	background: yellow;
	left: 720px;
}

/* the notes on indicators; these light up whenever a key is pressed */

.noteon {
        width: 50px;
        height: 4px;
        position: absolute;
        left: 720px;
        top: 300px;
        background: green;
        background-color: green;
}

.hairline {
        opacity: 1;
        background: red;
        left: 745px;
}

#clefsandsig {
	left: 224px;
	width: 320px;
}

#controls {
  padding: 15px;
  left: 0px;
  width: 200px;
}

#controls > button {
  margin: 5px;
}

// box for user facing messages

.info-wrapper {
    overflow: hidden;
    height: 50px;
}

.info {
    position: absolute;
    left: 220px;
    top: 670px;
    height: 50px;
    width: 80%;
    border-color: red; 
    border-width: 2; 
    border-style: solid;
    color: #000000;
    background: yellow;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

